@import '../../styles/size.d.less';
@import '../../styles/color.d.less';
.page-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}
.notice-textarea {
  textarea {
    outline: none;
    border: none;
    height: 170px !important;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px 12px;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
