<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>互动课堂</title>
  <link rel="stylesheet" href="https://g.alicdn.com/alidocs/wb-sdk/0.0.15/umd/index.css">
</head>

<body>
  <div id="root"></div>
  <script src="//at.alicdn.com/t/font_2619249_xf446waxswo.js"></script>
  <script src="//at.alicdn.com/t/font_2847938_cjqjbdux218.js"></script>
  <script src="https://g.alicdn.com/code/npm/@ali/room-paas-web-engine/1.3.11/RoomPaasSdk.web.min.js"></script>
  
  <script crossorigin src="https://g.alicdn.com/code/lib/babel-polyfill/7.10.4/polyfill.js"></script>
  <script crossorigin
    src="//g.alicdn.com/alidocs/static/??react/16.13.1/react.production.min.js,react-dom/16.13.1/react-dom.production.min.js"></script>
  <script crossorigin src="https://g.alicdn.com/alidocs/wb-sdk/0.0.15/umd/index.js"></script>
</body>
</html>
