<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.standard.liveroom.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".LiveActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme4LiveActivity"
            android:windowSoftInputMode="adjustNothing" />
        <!--            android:screenOrientation="sensor"-->
    </application>

</manifest>