<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.roompaas.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:requestLegacyExternalStorage="true">
        <provider
            android:name=".provider.ContextProvider"
            android:authorities="${applicationId}.base.contextprovider"
            android:exported="false" />
    </application>
</manifest>